<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/listhotel.css">
  <link rel="stylesheet" href="/css/detail.css">
  <link rel="stylesheet" href="/css/paginate.css">

  <script>
    // Ignore this in your implementation
    window.isMbscDemo = true;
  </script>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>


  <!-- icon -->
  <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- SLICK SLIDER -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- PAGINATION -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <!-- RESPONSIVE -->
  <link rel="stylesheet" href="/css/responsive.css">
  <!-- FONT HELGA -->

  <link rel="stylesheet" href="/testdate/css/mobiscroll.jquery.min.css">
  <script src="/testdate/js/mobiscroll.jquery.min.js"></script>

  <!-- Mobiscroll JS and CSS Includes -->

  <style>
    @font-face {
      src: url(/font/SVN-Helga.otf);
      font-family: helga
    }
    [title=selected]
    {
      color: #ff5b00 !important;
      border-color: #ff5b00 !important;
      background-color: #fff0e5 !important;
    }
    .fb-main-main{
      margin-bottom: 24px;
    }
    .mbsc-page {
      padding: 0px;
    }
    .mbsc-col-12{
      padding: 0;
      background-color: #f5f5f5;
    }
    .mbsc-textfield-wrapper-outline{
      margin: 0px !important;
    }
    .mbsc-ios.mbsc-page {
      background:none;
      width: 100%;
    }
  </style>
</head>
<body>
<head  th:replace="~{header.html}"></head>

<div class="main">
  <div>
    <div class="row">
      <div class="col-md-3">
        <div>
          <iframe class="frameMap" th:src="${@restAPI.restAPIString(0,location,idhotel,'direction')}"></iframe>
        </div>
        <div style="margin-top: 10px;">
<!--          trải ngiệm khu nghỉ dưỡng-->
          <p style="font-weight:bold;color:#003C71;font-size:16px" class="introaftermap"></p>
          <p style="font-size: 14px;text-align:justify">Nằm ngay trong khuôn viên của khu nghỉ dưỡng là một công viên nước với đầy đủ các làn trượt cảm giác mạnh mà chỉ dành riêng cho khách hàng lưu trú tại VinOasis sử dụng. Nếu bạn sợ đông đúc chật chội của công viên nước Vinpearl Land, bạn sẽ được thoải mái vui chơi mà không sợ xếp hàng tại công viên nước VinOasis mà không thua kém bất kì đâu.</p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="lht-content" style="font-size: 14px;padding-left: 0;margin-bottom: 10px;padding-top: 0">

        </div>
        <div class="main-img">
          <div class="slider slider-for">
            <div>
              <img src="https://cdn1.ivivu.com/iVivu/2019/03/22/10/khach-san-vinoasis-phu-quoc-2-800x450.jpg" alt="">
            </div>
            <div>
              <img src="https://statics.vinpearl.com/styles/752x423/public/2021_11/vinoasis-phu-quoc-1_1635992534.jpg.webp?itok=V4EBwli8" alt="">
            </div>
            <div>
              <img src="https://cdn1.ivivu.com/iVivu/2021/04/08/18/vinoasis-2-800x450.jpg" alt="">
            </div>
            <div>
              <img src="https://statics.vinpearl.com/styles/752x423/public/2021_11/vinoasis-phu-quoc-3_1635992546.jpg.webp?itok=3ElOenxO" alt="">
            </div>
            <div>
              <img src="https://cdn1.ivivu.com/iVivu/2021/02/22/17/dsc5844-800x450.jpg" alt="">
            </div>
            <div>
              <img src="https://cdn1.ivivu.com/iVivu/2019/03/22/10/khach-san-vinoasis-phu-quoc-14-800x450.jpg" alt="">
            </div>
            <div>
              <img src="https://res.cloudinary.com/dnqk5fjla/image/upload/v1668002213/cld-sample-4.jpg" alt="">
            </div>
          </div>
          <div class="slider slider-nav" style="margin-top: 10px">
            <div>
              <img class="img-click" src="https://cdn1.ivivu.com/iVivu/2019/03/22/10/khach-san-vinoasis-phu-quoc-2-800x450.jpg" alt="">
            </div>
            <div>
              <img class="img-click" src="https://statics.vinpearl.com/styles/752x423/public/2021_11/vinoasis-phu-quoc-1_1635992534.jpg.webp?itok=V4EBwli8" alt="">
            </div>
            <div>
              <img class="img-click" src="https://cdn1.ivivu.com/iVivu/2021/04/08/18/vinoasis-2-800x450.jpg" alt="">
            </div>
            <div>
              <img class="img-click" src="https://statics.vinpearl.com/styles/752x423/public/2021_11/vinoasis-phu-quoc-3_1635992546.jpg.webp?itok=3ElOenxO" alt="">
            </div>
            <div>
              <img class="img-click" src="https://cdn1.ivivu.com/iVivu/2021/02/22/17/dsc5844-800x450.jpg" alt="">
            </div>
            <div>
              <img class="img-click" src="https://cdn1.ivivu.com/iVivu/2019/03/22/10/khach-san-vinoasis-phu-quoc-14-800x450.jpg" alt="">
            </div>
            <div>
              <img class="img-click" src="https://res.cloudinary.com/dnqk5fjla/image/upload/v1668002213/cld-sample-4.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- DANH SÁCH CÁC PHÒNG -->
        <div>
          <div style="display:inline-flex;align-items:center">
            <div style="width: 6px;height: 44px; background-color: #ff5b00;border-radius: 6px;margin-right: 5px;">
            </div>
            <p style="margin-bottom:0;font-size: 24px;font-weight: 600;">Chọn phòng của bạn</p>
          </div>
          <div class="choose-date-people" style="margin-top: 20px;width:100%;border-radius: 4px;" data-toggle="modal" data-target="#choosedate">
            <div style="font-size: 16px;font-weight:600" class="choose-date-people-block">
              <div class="choose-date-people">
                <div mbsc-page class="demo-flight-booking">
                  <div style="height:100%">
                    <div class="mbsc-grid mbsc-no-padding">

                      <div class="mbsc-row">
                        <div class="mbsc-col-12">
                          <label>
                            Chọn ngày nhận và trả phòng
                            <input id="demo-flight-booking-single" mbsc-input data-input-style="outline"
                                   data-label-style="stacked" placeholder="Please select..." />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-room-block" th:attr="locationhotel=${location},idhotel=${idhotel}">
          </div>
        </div>

        <!-- FEEDBACK -->
        <div style="margin-top:30px">
          <div style="display:inline-flex;align-items:center">
            <div style="width: 6px;height: 44px; background-color: #ff5b00;border-radius: 6px;margin-right: 5px;">
            </div>
            <p style="margin-bottom:0;font-size: 24px;font-weight: 600;">Đánh giá </p>
          </div>
          <div class="fb_main btn_vote">
            <button class="filterstar" value="0" title="selected" id="allfeedback">Tất cả</button>
            <button class="filterstar" value="5">5 <i class="fa fa-star"  style="color: #ff9c00;font-size: 14px;"></i></button>
            <button class="filterstar" value="4">4 <i class="fa fa-star"  style="color: #ff9c00;font-size: 14px;"></i></button>
            <button class="filterstar" value="3">3 <i class="fa fa-star"  style="color: #ff9c00;font-size: 14px;"></i></button>
            <button class="filterstar" value="2">2 <i class="fa fa-star"  style="color: #ff9c00;font-size: 14px;"></i></button>
            <button class="filterstar" value="1">1 <i class="fa fa-star"  style="color: #ff9c00;font-size: 14px;"></i></button>
            <i style="font-size:16px;color:#757575" th:text="${@feedBackService.listFeedBackByIDHotel(idhotel).size()}+' đánh giá'"></i>
          </div>
          <div class="fb_main fb_main_content">

          </div>
          <div id="pagination-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL XEM PHÒNG -->
<div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-chitiet" style="background-color:white;padding: 8px 14px;border-radius: 4px;">
        <div tyle="height: 50px">
          <div class="row" s>
            <div class="col-md-6">
              <div>
                <div id="demo" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                  </ul>

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://booking-static.vinpearl.com/room_types/b2f9716514db44849f17ae92ca18fcfa_VH1PQ_Suite%20Room5.jpg" alt="Los Angeles">
                    </div>
                    <div class="carousel-item">
                      <img src="https://booking-static.vinpearl.com/room_types/b2f9716514db44849f17ae92ca18fcfa_VH1PQ_Suite%20Room5.jpg" alt="Chicago">
                    </div>

                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h3 style="font-size: 2.75rem;font-weight:bold" class="modal-title" id="exampleModalLabel">Phòng tiêu chuẩn 2 giường đơn</h3>
              <p style="font-size: 16px;color: rgba(0,0,0,.65);text-align:justify">Phòng Tiêu chuẩn 2 Giường đơn với diện tích 25.2 - 28.5m2 được thiết kế hiện đại, tích hợp đầy đủ tiện nghi cho kỳ lưu trú của bạn. Phòng có hai giường ngủ riêng biệt, ấm áp, là lựa chọn lý tưởng dành cho các nhóm bạn, gia đình nhỏ hay du khách đi công tác.</p>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="dv-item-block">
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/c2fe380b61ce4e7ebd9b684400370a75_Dien%20thoai.png" alt="">
                <p style="margin-bottom: 0">Điện thoại</p>
              </div>
              <div class="dv-item-main">
                <img src="	https://booking-static.vinpearl.com/hotels/amenity/8edbd16313044a0dac493f68592a1fcc_Voi%20sen.png" alt="">
                <p style="margin-bottom: 0">Vòi sen</p>
              </div>
              <div class="dv-item-main">
                <img src="https://aus-content.product.cloudhms.io/2019/4/3/70506213-1388-42e1-9784-fb369d89d3d7_King.png" alt="">
                <p style="margin-bottom: 0">Giường đơn</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/14b03a18593e4a9292786446781841de_Dieu%20hoa.png" alt="">
                <p style="margin-bottom: 0">Điều hòa không khí</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/28740c3d7ed7404eba0168a055e989e3_May%20say%20toc.png" alt="">
                <p style="margin-bottom: 0">Máy sấy tóc</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/c02be0985c5d4dc98538b347b2b90be0_Ket%20sat.png" alt="">
                <p style="margin-bottom: 0">Két sắt điện tử</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/cc8f6457bf8d4b13b32ebe703fc2aee5_Am%20dun%20nuoc.png" alt="">
                <p style="margin-bottom: 0">Ấm điện</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/9fd5a5c793f94cb699487517a4ac07f7_Wifi.png" alt="">
                <p style="margin-bottom: 0">Wifi miễn phí</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/eb62d0eef8c44e958efdd2a1bda1671e_Tu%20quan%20ao.png" alt="">
                <p style="margin-bottom: 0">Tủ quần áo</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/90b6fbd04fed49cbbf66cd13c056b03e_Coffee%20&%20Tea.png" alt="">
                <p style="margin-bottom: 0">Trà & Cafe miễn phí</p>
              </div>
              <div class="dv-item-main">
                <img src="https://booking-static.vinpearl.com/hotels/amenity/534b8219e74240cfb577d7c02e6fbb66_TV.png" alt="">
                <p style="margin-bottom: 0">Flat-Screen TV</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function (){

  mobiscroll.setOptions({
    locale: mobiscroll.localeEn,                           // Specify language like: locale: mobiscroll.localePl or omit setting to use default
    theme: 'ios',                                          // Specify theme like: theme: 'ios' or omit setting to use default
    themeVariant: 'light'                              // More info about themeVariant: https://docs.mobiscroll.com/5-20-0/range#opt-themeVariant
  });

  $(function () {

    var now = new Date(),
            min = now,
            max = new Date(now.getFullYear(), now.getMonth() + 6, now.getDate());

    // Mobiscroll Range initialization
    $('#demo-flight-booking-single').mobiscroll().datepicker({
      controls: ['calendar'],                            // More info about controls: https://docs.mobiscroll.com/5-20-0/range#opt-controls
      select: 'range',                                   // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
      display: 'anchored',                               // Specify display mode like: display: 'bottom' or omit setting to use default
      min: min,                                          // More info about min: https://docs.mobiscroll.com/5-20-0/range#opt-min
      max: max,                                          // More info about max: https://docs.mobiscroll.com/5-20-0/range#opt-max
      pages: 2,
      buttons: ['set', 'cancel']                         // More info about buttons: https://docs.mobiscroll.com/5-20-0/range#opt-buttons
    });

    // Mobiscroll Range initialization
    $('#demo-flight-booking-outbound').mobiscroll().datepicker({
      controls: ['calendar'],                            // More info about controls: https://docs.mobiscroll.com/5-20-0/range#opt-controls
      select: 'range',                                   // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
      display: 'anchored',                               // Specify display mode like: display: 'bottom' or omit setting to use default
      startInput: '#demo-flight-booking-outbound',       // More info about startInput: https://docs.mobiscroll.com/5-20-0/range#opt-startInput
      endInput: '#demo-flight-booking-return',           // More info about endInput: https://docs.mobiscroll.com/5-20-0/range#opt-endInput
      min: min,                                          // More info about min: https://docs.mobiscroll.com/5-20-0/range#opt-min
      max: max,                                          // More info about max: https://docs.mobiscroll.com/5-20-0/range#opt-max
      pages: 2
    });

    // Mobiscroll Range initialization
    $('#demo-flight-booking-inv-outbound').mobiscroll().datepicker({
      controls: ['calendar'],                            // More info about controls: https://docs.mobiscroll.com/5-20-0/range#opt-controls
      select: 'range',                                   // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
      display: 'anchored',                               // Specify display mode like: display: 'bottom' or omit setting to use default
      startInput: '#demo-flight-booking-inv-outbound',   // More info about startInput: https://docs.mobiscroll.com/5-20-0/range#opt-startInput
      endInput: '#demo-flight-booking-inv-return',       // More info about endInput: https://docs.mobiscroll.com/5-20-0/range#opt-endInput
      min: min,                                          // More info about min: https://docs.mobiscroll.com/5-20-0/range#opt-min
      max: max,                                          // More info about max: https://docs.mobiscroll.com/5-20-0/range#opt-max
      pages: 2,
      invalid: [{                                        // More info about invalid: https://docs.mobiscroll.com/5-20-0/range#opt-invalid
        recurring: {
          repeat: 'weekly',
          weekDays: 'TU,TH'                      // More info about weekDays: https://docs.mobiscroll.com/5-20-0/range#opt-weekDays
        },
      },
        new Date(now.getFullYear(), now.getMonth(), 25)
      ]
    });

    var booking = $('#demo-flight-booking-type-outbound').mobiscroll().datepicker({
      controls: ['calendar'],                            // More info about controls: https://docs.mobiscroll.com/5-20-0/range#opt-controls
      select: 'range',                                   // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
      display: 'anchored',                               // Specify display mode like: display: 'bottom' or omit setting to use default
      startInput: '#demo-flight-booking-type-outbound',  // More info about startInput: https://docs.mobiscroll.com/5-20-0/range#opt-startInput
      endInput: '#demo-flight-booking-type-return',      // More info about endInput: https://docs.mobiscroll.com/5-20-0/range#opt-endInput
      min: min,                                          // More info about min: https://docs.mobiscroll.com/5-20-0/range#opt-min
      max: max,                                          // More info about max: https://docs.mobiscroll.com/5-20-0/range#opt-max
      pages: 2
    }).mobiscroll('getInst');

    $('.demo-flight-type').on('change', function () {
      var oneWay = this.value == 'oneway';
      $('#demo-flight-booking-type-return').mobiscroll('getInst').setOptions({ disabled: oneWay });

      if (oneWay) {
        booking.setOptions({
          select: 'date'                             // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
        });
      } else {
        booking.setOptions({
          select: 'range'                            // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
        });
      }
    });

    var singleBooking = $('#demo-flight-booking-custom').mobiscroll().datepicker({
      controls: ['calendar'],                            // More info about controls: https://docs.mobiscroll.com/5-20-0/range#opt-controls
      select: 'range',                                   // More info about select: https://docs.mobiscroll.com/5-20-0/range#methods-select
      display: 'anchored',                               // Specify display mode like: display: 'bottom' or omit setting to use default
      min: min,                                          // More info about min: https://docs.mobiscroll.com/5-20-0/range#opt-min
      max: max,                                          // More info about max: https://docs.mobiscroll.com/5-20-0/range#opt-max
      pages: 2,
      buttons: [                                         // More info about buttons: https://docs.mobiscroll.com/5-20-0/range#opt-buttons
        'cancel',
        {
          text: 'One way only',
          disabled: true,                            // More info about disabled: https://docs.mobiscroll.com/5-20-0/range#opt-disabled
          handler: function () {
            var start = singleBooking.getTempVal()[0];

            singleBooking.setVal([start, null]);
            singleBooking.close();
          }
        },
        'set'
      ],
      onTempChange: function (event, inst) {
        inst.setOptions({
          buttons: [                                         // More info about buttons: https://docs.mobiscroll.com/5-20-0/range#opt-buttons
            'cancel',
            {
              text: 'One way only',
              disabled: !inst.getTempVal()[0],   // More info about disabled: https://docs.mobiscroll.com/5-20-0/range#opt-disabled
              handler: function () {
                var start = singleBooking.getTempVal()[0];

                singleBooking.setVal([start, null]);
                singleBooking.close();
              }
            },
            'set'
          ]
        });
      }
    }).mobiscroll('getInst');

  });
})
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var listfeedback = /*[[${@feedBackService.listFeedBackByIDHotel(idhotel)}]]*/ "listfeedback";
  var hashmap = /*[[${@feedBackService.iduser_name(idhotel)}]]*/ "hashmap";
  var hashmapimg = /*[[${@feedBackService.iduser_img(idhotel)}]]*/ "hashmapimg";
  var idhotel = /*[[${idhotel}]]*/ "idhotel";
  /*]]>*/

  let LISTFB = ()=>{

  }


  let divfeedback = document.querySelector('.fb_main_content')
  let filterstar = document.querySelectorAll('.filterstar')
  filterstar.forEach(ele=>{
    ele.onclick = function(e) {
      $('[title=selected]').removeAttr("title");
      //tô màu ô sao được chọn
      $(this).attr("title", "selected");
      $.ajax({
        type: "GET",
        url: 'http://localhost:8080/api/listfeedback',
        data: {
          idhotel:idhotel,
          star:ele.value
        },
        success: function(res) {
          console.log(res)

          // $(this).attr("title", "selected");

          let htmlfeedback =  res.map(item=>{
            return`
            <div class="fb-main-main">
                <div class="fb_img_name fb_item">
              <div class="fb_img">
                <img style="clip-path: circle()" src="${Object.hasOwn(hashmapimg,item.iduser)==true?hashmapimg[item.iduser]:''}" alt="">
              </div>
              <div class="fb_name" value="${item.iduser}">${Object.hasOwn(hashmap,item.iduser)==true?hashmap[item.iduser]:''}</div>
            </div>
            <!--RATE-->
            <div class="fb_vote fb_item">
              <div>
                ${
                    item.star==5?'<i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i>'
                            :item.star==4?'<i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i>'
                                    :item.star==3?'<i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i>'
                                            :item.star==2?'<i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i><i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i>'
                                                    :item.star==1?'<i class="fa fa-star" style="color: #ff9c00;font-size: 16px;"></i>'
                                                            :''
            }
              </div>
              <div style="margin-left: 4px">
                <p style="margin: 0px;font-size: 14px;">${item.star==5?'Thật tuyệt vời':item.star==4?'Tốt'
                    :item.star==3?'Khá tốt':item.star==2?'Tệ':'Rất tệ'}</p>
              </div>
            </div>
            <div class="fb_item" style="font-size: 12px;color: rgba(0,0,0,.54);">${item.datefeedback}</div>
            <div style="font-size: 16px;text-align: justify !important">${item.contentfeedback}</div>
            </div>`
          })

          divfeedback.innerHTML = htmlfeedback.join('')
          var items = $(".fb_main_content .fb-main-main");
          let numItems = items.length
          var perPage =4;
          items.slice(perPage).hide();
          console.log($('#pagination-container'));
          $('#pagination-container').pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: "&laquo;",
            nextText: "&raquo;",
            onPageClick: function (pageNumber) {
              var showFrom = perPage * (pageNumber - 1);
              var showTo = showFrom + perPage;
              items.hide().slice(showFrom, showTo).show();
            }
          });
        },
        error: function(err) {
          console.log('The following error occured: ' + err);
        }

      })


    }
  })
  $(document).ready(function(){
    $("#allfeedback").click();
  });

</script>

</body>
<script src="/js/js.js"></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
</html>