<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/listhotel.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/footer.css">
  <!-- icon -->
  <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- SLICK SLIDER -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- RESPONSIVE -->
  <link rel="stylesheet" href="/css/responsive.css">

  <!--SWAL-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- FONT HELGA -->
  <style>
    @font-face {
      src: url(/font/SVN-Helga.otf);
      font-family: helga
    }

    .btn {
      font-size: 16px;
    }
    .tab-log div{
      /*width:0rem*/
    }
  </style>
</head>

<body>

<head  th:replace="~{header.html}"></head>

<div class="main">
  <div class="row">
    <div class="col-md-4">
      <div class="slide-profile">
        <div class="slide-profile-main">
          <div class="ava-box">
            <img class="ava-box-img" th:src="${user.avatar}" alt="">
          </div>
          <div class="name_id">
            <p class="name-profile" style="text-transform: uppercase" th:text="${user.getHo()} + ' ' + ${user.getTen()}"></p>
            <P>Mã thẻ: <b th:text="${user.getIduser()}"></b></p>
          </div>
        </div>
        <div class="slide-profile-main tichluy_diem">
          <div class="tichluy col-6">
            <P class="tichluy_diem_main">Giá trị tích lũy
              <b th:text="${sumMoney}+' vnđ'"></b><br>
              <a href="">Lịch sử</a>
            </p>
          </div>
          <div class="diemkhadung col-6">
            <P class="tichluy_diem_main">Điểm khả dụng
              <b>0 điểm</b>
            </p>
          </div>
        </div>
        <div class="slide-profile-main tichluy_diem">
          <div style="padding:0px 15px" class="choose-item-profile">
            <!--thông tin tài khoản -->
            <div>
              <a href="/user/profile" class="choose-item-profile-a">
                <i class="fa fa-user"></i>Thông tin tài khoản
              </a>
            </div>
            <div style="background-color: #f4f4f4">
              <a href="" class="choose-item-profile-a">
                <i class="fa fa-list-alt"></i>Lịch sử đặt chỗ
              </a>
            </div>
            <div>
              <a href="" class="choose-item-profile-a" >
                <i class="fa fa-money"></i>Ưu đãi của tôi
              </a>
            </div>
            <div>
              <a href="/user/yourquestion" class="choose-item-profile-a">
                <i class="fa fa-question"></i>Câu hỏi của bạn
              </a>
            </div>
            <div>
              <a href="" class="choose-item-profile-a">
                <i class="fa fa-credit-card"></i>Thông tin đặc quyền thẻ
              </a>
            </div>
            <div>
              <a href="/logout" class="choose-item-profile-a">
                <i class="fa fa-sign-out"></i>Đăng xuất
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-log" style="padding: 0;width:100%">
        <div>
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-choxacnhan-tab" data-toggle="tab"
                 href="#choxacnhan" role="tab" aria-controls="choxacnhan" aria-selected="true"
                 style="font-size: 16px; ">Chờ xác nhận</a>
              <a class="nav-item nav-link" id="daxacnhan" data-toggle="tab" href="#nav-daxacnhan"
                 role="tab" aria-controls="nav-daxacnhan" aria-selected="false"
                 style="font-size: 16px; ">Đã xác nhận</a>
              <a class="nav-item nav-link" id="nav-hoanthanh-tab" data-toggle="tab"
                 href="#nav-hoanthanh" role="tab" aria-controls="nav-hoanthanh" aria-selected="false"
                 style="font-size: 16px; ">Đã nhận phòng</a>
              <a class="nav-item nav-link" id="nav-huy-tab" data-toggle="tab"
                 href="#nav-huy" role="tab" aria-controls="nav-huy" aria-selected="false"
                 style="font-size: 16px; ">Đã trả phòng</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <!--CHỜ XÁC NHÂN-->
            <div class="tab-pane fade show active" id="choxacnhan" role="tabpanel" aria-labelledby="nav-choxacnhan-tab">
              <div class="list-hotel" th:each="cxn:${choxacnhan}">
                <div class="lht-item" namePlace="${ele.id}">
                  <div class="lht-main">
                    <div class="lht-img">
                      <div class="lht-img-img" th:style="|background:url(@{${@restAPI.restAPIString(0,cxn.location,cxn.idhotel,'img_hotel')}})|"></div>
                    </div>
                    <div class="lht-content">
                      <p class="lht-name" th:text="${@restAPI.restAPIString(0,cxn.getLocation(),cxn.getIdhotel(),'name_hotel')}">Tên khách sạn</p>
                      <div class="lht-content_rate" style="padding: 4px 0px">
                        <div class="lht-content_rate_mark">
                          <p style="margin-right: 5px" th:text="${@restAPI.findInfoRoom(0,cxn.location,cxn.idhotel,cxn.idroom,'nameroom')}">Tên phòng</p>
                        </div>
                      </div>
                      <div class="lht-direct" style="padding: 4px 0px">
                        <a href="">
                          <span class="fa fa-map-marker" th:text="${@restAPI.restAPIString(0,cxn.getLocation(),cxn.getIdhotel(),'address')}"></span>
                          <b style="color: #0b3af4">Xem bản đồ</b>
                        </a>
                      </div>
                      <div class="bonus-charact">
                        <div>
                          <span class="fa fa-star checked" style="color: white;"></span>
                        </div>
                        <div th:text="${cxn.getCheckin()}+' *** '+${cxn.getCheckout()}">Ngày nhận và trả phòng</div>
                      </div>
                      <div style="margin-top: 6px;font-weight:bold;font-size:16px"
                           th:text="${cxn.getRepresentative()}+' - '+${cxn.getPhonecontact()}+' - '+${cxn.emailcontact}">Tên người
                        đặt - SDT - email</div>

                      <!--TRẠNG THÁI -->
                      <div style="margin-top: 6px">
                        <button class="btn btn-primary" style="padding: 6px !important" disabled>Chờ xác nhận</button>
                      </div>
                    </div>
                    <div class="lht-price">
                      <div id="status_room" value-status-room="${ele.status}">
                        <div class="lht-price-detail" id="huy" th:text="${cxn.getTotalprice()}+' VND'"></div>
                        <div class="type_room">
                          <div>
                            <p>Thời gian đặt</p>
                            <p th:text="${cxn.datebooking}" style="font-weight: bold">abcxyz</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!--ĐÃ XÁC NHÂN-->
            <div class="tab-pane fade" id="nav-daxacnhan" role="tabpanel" aria-labelledby="daxacnhan">
              <div class="list-hotel" th:each="dxn:${daxacnhan}">
                <div class="lht-item" namePlace="${ele.id}">
                  <div class="lht-main">
                    <div class="lht-img">
                      <div class="lht-img-img" th:style="|background:url(@{${@restAPI.restAPIString(0,dxn.location,dxn.idhotel,'img_hotel')}})|"></div>
                    </div>
                    <div class="lht-content">
                      <p class="lht-name" th:text="${@restAPI.restAPIString(0,dxn.getLocation(),dxn.getIdhotel(),'name_hotel')}">Tên khách sạn</p>
                      <div class="lht-content_rate" style="padding: 4px 0px">
                        <div class="lht-content_rate_mark">
                          <p style="margin-right: 5px" th:text="${@restAPI.findInfoRoom(0,dxn.location,dxn.idhotel,dxn.idroom,'nameroom')}">Tên phòng</p>
                        </div>
                      </div>
                      <div class="lht-direct" style="padding: 4px 0px">
                        <a href="">
                          <span class="fa fa-map-marker" th:text="${@restAPI.restAPIString(0,dxn.getLocation(),dxn.getIdhotel(),'address')}"></span>
                          <b style="color: #0b3af4">Xem bản đồ</b>
                        </a>
                      </div>
                      <div class="bonus-charact">
                        <div>
                          <span class="fa fa-star checked" style="color: white;"></span>
                        </div>
                        <div th:text="${dxn.getCheckin()}+' *** '+${dxn.getCheckout()}">Ngày nhận và trả phòng</div>
                      </div>
                      <div style="margin-top: 6px;font-weight:bold;font-size:16px"
                           th:text="${dxn.getRepresentative()}+' - '+${dxn.getPhonecontact()}+' - '+${dxn.emailcontact}">Tên người
                        đặt - SDT - email</div>

                      <!--TRẠNG THÁI -->
                      <div style="margin-top: 6px">
                        <button class="btn btn-warning">Đã xác nhận</button>
                      </div>
                    </div>
                    <div class="lht-price">
                      <div id="status_room" value-status-room="${ele.status}">
                        <div class="lht-price-detail" id="huy" th:text="${dxn.getTotalprice()}+' VND'">Tổng tiền VND</div>
                        <div class="type_room">
                          <div>
                            <p>Mã đặt phòng</p>
                            <p th:text="${dxn.getIdbooking()}" style="font-weight: bold">abcxyz</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!--THÀNH CÔNG-->
            <div class="tab-pane fade" id="nav-hoanthanh" role="tabpanel" aria-labelledby="nav-hoanthanh-tab">
              <div class="list-hotel" th:each="tc:${thanhcong}">
                <div class="lht-item" namePlace="${ele.id}">
                  <div class="lht-main">
                    <div class="lht-img">
                      <div class="lht-img-img" th:style="|background:url(@{${@restAPI.restAPIString(0,tc.location,tc.idhotel,'img_hotel')}})|"></div>
                    </div>
                    <div class="lht-content">
                      <p class="lht-name" th:text="${@restAPI.restAPIString(0,tc.getLocation(),tc.getIdhotel(),'name_hotel')}">Tên khách sạn</p>
                      <div class="lht-content_rate" style="padding: 4px 0px">
                        <div class="lht-content_rate_mark">
                          <p style="margin-right: 5px" th:text="${@restAPI.findInfoRoom(0,tc.location,tc.idhotel,tc.idroom,'nameroom')}">Tên phòng</p>
                        </div>
                      </div>
                      <div class="lht-direct" style="padding: 4px 0px">
                        <a href="">
                          <span class="fa fa-map-marker" th:text="${@restAPI.restAPIString(0,tc.getLocation(),tc.getIdhotel(),'address')}"></span>
                          <b style="color: #0b3af4">Xem bản đồ</b>
                        </a>
                      </div>
                      <div class="bonus-charact">
                        <div>
                          <span class="fa fa-star checked" style="color: white;"></span>
                        </div>
                        <div th:text="${tc.getCheckin()}+' *** '+${tc.getCheckout()}">Ngày nhận và trả phòng</div>
                      </div>
                      <div style="margin-top: 6px;font-weight:bold;font-size:16px"
                           th:text="${tc.getRepresentative()}+' - '+${tc.getPhonecontact()}+' - '+${tc.emailcontact}">Tên người
                        đặt - SDT - email</div>

                      <!--TRẠNG THÁI -->
                      <div style="margin-top: 6px">
                        <button class="btn btn-success" style="padding: 6px !important" disabled>Thành công</button>
                      </div>
                    </div>
                    <div class="lht-price">
                      <div id="status_room" value-status-room="${ele.status}">
                        <div class="lht-price-detail" id="huy" th:text="${tc.getTotalprice()}+' VND'">Tổng tiền VND</div>
                        <div class="type_room">
                          <div>
                            <p>Mã đặt phòng</p>
                            <p th:text="${tc.getIdbooking()}" style="font-weight: bold">abcxyz</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!--ĐÃ TRẢ PHÒNG-->
            <div class="tab-pane fade" id="nav-huy" role="tabpanel" aria-labelledby="nav-huy-tab">
              <div class="list-hotel" th:each="dtp:${datraphong}">
                <div class="lht-item" namePlace="${ele.id}">
                  <div class="lht-main">
                    <div class="lht-img">
                      <div class="lht-img-img" th:style="|background:url(@{${@restAPI.restAPIString(0,dtp.location,dtp.idhotel,'img_hotel')}})|"></div>
                    </div>
                    <div class="lht-content">
                      <p class="lht-name" th:text="${@restAPI.restAPIString(0,dtp.getLocation(),dtp.getIdhotel(),'name_hotel')}">Tên khách sạn</p>
                      <div class="lht-content_rate" style="padding: 4px 0px">
                        <div class="lht-content_rate_mark">
                          <p style="margin-right: 5px" th:text="${@restAPI.findInfoRoom(0,dtp.location,dtp.idhotel,dtp.idroom,'nameroom')}">Tên phòng</p>
                        </div>
                      </div>
                      <div class="lht-direct" style="padding: 4px 0px">
                        <a href="">
                          <span class="fa fa-map-marker" th:text="${@restAPI.restAPIString(0,dtp.getLocation(),dtp.idhotel,'address')}"></span>
                          <b style="color: #0b3af4">Xem bản đồ</b>
                        </a>
                      </div>
                      <div class="bonus-charact">
                        <div>
                          <span class="fa fa-star checked" style="color: white;"></span>
                        </div>
                        <div th:text="${dtp.getCheckin()}+' *** '+${dtp.getCheckout()}">Ngày nhận và trả phòng</div>
                      </div>
                      <div style="margin-top: 6px;font-weight:bold;font-size:16px"
                           th:text="${dtp.getRepresentative()}+' - '+${dtp.getPhonecontact()}+' - '+${dtp.emailcontact}">Tên người
                        đặt - SDT - email
                      </div>

                      <!--TRẠNG THÁI -->
                      <div style="display: flex">
                        <div style="margin-top: 6px">
                          <button class="btn btn-success" style="padding: 6px !important" disabled>Đã trả phòng</button>
                        </div>
                        <div style="margin-top: 6px">
                          <button id="btnfeedback" type="submit" th:if="${dtp.review==0}" class="btn" style="background-color: #ff5722 !important;padding: 6px !important;color:white;margin-left: 4px;" data-toggle="modal" data-target="#exampleModal"
                                  th:attr="fblocation=${dtp.location},fbidhotel=${dtp.idhotel},fbidroom=${dtp.idroom},fbidbooking=${dtp.idbooking}">Đánh giá</button>
                          <button th:if="${dtp.review==1}" class="btn" style="background-color: #ff5722 !important;padding: 6px !important;color:white;margin-left: 4px;" data-toggle="modal" data-target="#exampleModal" disabled>Đã đánh giá</button>
                        </div>
                      </div>
                    </div>
                    <div class="lht-price">
                      <div id="status_room" value-status-room="${ele.status}">
                        <div class="lht-price-detail" id="huy" th:text="${dtp.getTotalprice()}+' VND'">Tổng tiền VND</div>
                        <div class="type_room">
                          <div>
                            <p>Mã đặt phòng</p>
                            <p th:text="${dtp.getIdbooking()}" style="font-weight: bold">abcxyz</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--FOOTER-->
<footer class="footer">
  <div class="footer-header">
  </div>
  <div class="footer-info" style="padding:2rem 9%;font-size:13px">
    <div class="col-lg-3 col-sm-6">
      <div style="display:inline-flex">
        <img src="https://marketingmagazine.com.my/wp-content/uploads/2022/03/07-Klook-Logo_RGB.png" alt=""
             style="width:100px;object-fit:contain">
      </div>
      <p style="text-align:justify">Toà nhà Phú Mỹ Hưng, số 8 Hoàng Văn Thái, khu phố 1, Phường Tân Phú, Quận
        7, Thành phố Hồ Chí Minh</p>
      <img src="../assets/image/dkt.png" alt="">
      <div style="margin-top:30px" id="footer-needed-none">
        <p class="footer-info-title">VỀ CHÚNG TÔI</p>
        <p>Thành tựu</p>
        <p>Liên hệ</p>
        <p>Tuyển dụng</p>
        <p>Câu hỏi thường gặp</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div class="footer-infp-survice">
        <p class="footer-info-title">TIN TỨC & SỰ KIỆN</p>
        <p>Cẩm nang</p>
        <p>Sự kiện</p>
        <p>Thị trường</p>
        <p>Trải nghiệm</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div>
        <p class="footer-info-title">ĐỐI TÁC</p>
        <p>Đối tác ngân hàng</p>
        <p>Đối tác thanh toán</p>
        <p>Đối tác doanh nghiệp</p>
        <img src="../assets/img/payment.png" alt="">
      </div>
      <div style="margin-top:30px">
        <p class="footer-info-title">ĐIỀU KIỆN & QUY ĐỊNH</p>
        <P>Điều khoản chung</P>
        <p>Quy định chung</p>
        <p>Quy định về thanh toán</p>
        <p>Quy định về xác nhận thông tin đặt phòng</p>
        <p>Xác nhận về thông tin đặt tour</p>
        <p>Xác nhận về thông tin đặt vé máy bay</p>
        <p>Chính sách về quyền riêng tư</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div style="margin-top:30px">
        <p class="footer-info-title">TẢI ỨNG DỤNG NGAY</p>
        <img src="../assets/image/apple.svg" alt="" style="margin-bottom:15px">
        <img src="../assets/image/chplay.svg" alt="">
      </div>
    </div>
  </div>
  <div class="footer-award">
    <h3 class="footer-info-title" style="font-size: 15px;text-align: center;">GIẢI THƯỞNG CỦA CHÚNG TÔI</h3>
    <div class="footer-award-list">
      <img src="/image/award.webp" alt="" class="footer-award-list-img">
      <img src="/image/rank.png" alt="" class="footer-award-list-img">
      <img src="/image/NW_checking-savings-combo_vt-green_2022.webp" class="footer-award-list-img"
           alt="">
      <img src="/image/Money-Best-Banks-2021-22.png" alt="" class="footer-award-list-img">
    </div>
  </div>
</footer>

<!-- MODAL ĐÁNH GIÁ -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 18px;font-weight: 700">ĐÁNH GIÁ CỦA BẠN VỀ CHẤT LƯỢNG KHÁCH SẠN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <head  th:insert="~{feedback.html}"></head>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label" style="font-size: 16px;font-weight: 700">Nội dung đánh giá</label>
            <textarea class="form-control" id="message-text" rows="15" style="font-size: 16px"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="btnhuyfb" data-dismiss="modal" style="padding: 6px !important;">Hủy</button>
            <button type="submit" id="sendfeedback" class="btn btn-primary" style="padding: 6px !important;">Gửi đánh giá</button>
          </div>
        </div>
      </div>
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding: 6px !important;">Hủy</button>-->
<!--        <button type="button" class="btn btn-primary" style="padding: 6px !important;">Gửi đánh giá</button>-->
<!--      </div>-->
    </div>
  </div>
</div>
<!-- <script src="../assets/js/js.js"></script> -->
<!--FEEDBACK-->
<script th:inline="javascript">
  /*<![CDATA[*/
  var iduser = /*[[${session.inforlogin}]]*/ "iduser";
  /*]]>*/

  let data = new Array()
  $(document).ready(function ()
  {
    $('#btnfeedback').click(function (e)
    {
      data = {
        iduser:iduser,
        idhotel:e.target.getAttribute("fbidhotel"),
        location:e.target.getAttribute("fblocation"),
        idroom:e.target.getAttribute("fbidroom"),
        idbooking:e.target.getAttribute("fbidbooking")
      }
    })
  });

  let rating = document.querySelectorAll(".rating input")
  var x_s = 5
  rating.forEach(function(ele)
  {
    ele.onclick = function()
    {
      x_s = ele.value
    }
  })


  $('#sendfeedback').click(function ()
  {
    data["star"] = x_s
    data["contentfeedback"] = $('#message-text').val()
    $.ajax({
      type: "POST",
      url: "http://localhost:8080/api/api/feedback/send",
      data: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
        'Accept':'application/json'
      },
      success: function (data) {
        swal({
          position: 'top-end',
          icon: 'success',
          title: 'Cảm ơn quý khách đã đánh giá khách sạn của chúng tôi!',
          showConfirmButton: false,
          timer: 2000
        }).then(()=>{
          $('#btnhuyfb').click()
          $('#btnfeedback').prop('disabled',true)
          $('#btnfeedback').text("Đã đánh giá")
        })

      },
      error: function (e) {
      }
    });
  })
</script>
<script src="/js/jscenter.js"></script>
</body>

</html>