<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/listhotel.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/paginate.css">

  <!-- icon -->
  <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- SLICK SLIDER -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- RESPONSIVE -->
  <link rel="stylesheet" href="/css/responsive.css">

  <!--SWAL-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- FONT HELGA -->
  <style>
    @font-face {
      src: url(/font/SVN-Helga.otf);
      font-family: helga
    }

    .btn {
      font-size: 16px;
    }
    .tab-log div{
      /*width:0rem*/
    }
  </style>
</head>

<body>

<head  th:replace="~{header.html}"></head>

<div class="main">
  <div class="row">
    <div class="col-md-4">
      <div class="slide-profile">
        <div class="slide-profile-main">
          <div class="ava-box">
            <img class="ava-box-img" th:src="${user.avatar}" alt="">
          </div>
          <div class="name_id">
            <p class="name-profile" style="text-transform: uppercase" th:text="${user.getHo()} + ' ' + ${user.getTen()}"></p>
            <P>Mã thẻ: <b th:text="${user.getIduser()}"></b></p>
          </div>
        </div>
        <div class="slide-profile-main tichluy_diem">
          <div class="tichluy col-6">
            <P class="tichluy_diem_main">Giá trị tích lũy
              <b th:text="${sumMoney}+' vnđ'"></b><br>
              <a href="">Lịch sử</a>
            </p>
          </div>
          <div class="diemkhadung col-6">
            <P class="tichluy_diem_main">Điểm khả dụng
              <b>0 điểm</b>
            </p>
          </div>
        </div>
        <div class="slide-profile-main tichluy_diem">
          <div style="padding:0px 15px" class="choose-item-profile">
            <!--thông tin tài khoản -->
            <div>
              <a href="/user/profile" class="choose-item-profile-a">
                <i class="fa fa-user"></i>Thông tin tài khoản
              </a>
            </div>
            <div >
              <a href="/user/profile/history" class="choose-item-profile-a">
                <i class="fa fa-list-alt"></i>Lịch sử đặt chỗ
              </a>
            </div>
            <div>
              <a href="/user/profile/yourgift" class="choose-item-profile-a" >
                <i class="fa fa-money"></i>Ưu đãi của tôi
              </a>
            </div>
            <div style="background-color: #f4f4f4">
              <a href="/user/profile/yourquestion" class="choose-item-profile-a">
                <i class="fa fa-question"></i>Câu hỏi của bạn
              </a>
            </div>
            <div>
              <a href="" class="choose-item-profile-a">
                <i class="fa fa-credit-card"></i>Thông tin đặc quyền thẻ
              </a>
            </div>
            <div>
              <a href="/logout" class="choose-item-profile-a">
                <i class="fa fa-sign-out"></i>Đăng xuất
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div style="height: fit-content;margin-bottom: 20px" class="row">
        <div class="col-3 col-md-4 mb-3 question" th:each="qs:${listyourquestion}" style="width: fit-content;position: relative">
          <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;text-align: justify;border-radius: 4px">
            <div style="background-color: #e8952f;padding: 8px">
              <div th:text="${qs.message}"></div>
            </div>
            <div style="min-width: 100px;padding: 8px; text-align: justify">
              <div th:if="${@repmessageRepository.getMessReplied(qs.stt)!=null}" th:text="${@repmessageRepository.getMessReplied(qs.stt).getRepcontent()}"></div>
              <div th:if="${@repmessageRepository.getMessReplied(qs.stt)==null}"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="pagination-container"></div>
    </div>

  </div>
</div>

<!--FOOTER-->
<footer class="footer">
  <div class="footer-header">
  </div>
  <div class="footer-info" style="padding:2rem 9%;font-size:13px">
    <div class="col-lg-3 col-sm-6">
      <div style="display:inline-flex">
        <img src="https://marketingmagazine.com.my/wp-content/uploads/2022/03/07-Klook-Logo_RGB.png" alt=""
             style="width:100px;object-fit:contain">
      </div>
      <p style="text-align:justify">Toà nhà Phú Mỹ Hưng, số 8 Hoàng Văn Thái, khu phố 1, Phường Tân Phú, Quận
        7, Thành phố Hồ Chí Minh</p>
      <img src="../assets/image/dkt.png" alt="">
      <div style="margin-top:30px" id="footer-needed-none">
        <p class="footer-info-title">VỀ CHÚNG TÔI</p>
        <p>Thành tựu</p>
        <p>Liên hệ</p>
        <p>Tuyển dụng</p>
        <p>Câu hỏi thường gặp</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div class="footer-infp-survice">
        <p class="footer-info-title">TIN TỨC & SỰ KIỆN</p>
        <p>Cẩm nang</p>
        <p>Sự kiện</p>
        <p>Thị trường</p>
        <p>Trải nghiệm</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div>
        <p class="footer-info-title">ĐỐI TÁC</p>
        <p>Đối tác ngân hàng</p>
        <p>Đối tác thanh toán</p>
        <p>Đối tác doanh nghiệp</p>
        <img src="../assets/img/payment.png" alt="">
      </div>
      <div style="margin-top:30px">
        <p class="footer-info-title">ĐIỀU KIỆN & QUY ĐỊNH</p>
        <P>Điều khoản chung</P>
        <p>Quy định chung</p>
        <p>Quy định về thanh toán</p>
        <p>Quy định về xác nhận thông tin đặt phòng</p>
        <p>Xác nhận về thông tin đặt tour</p>
        <p>Xác nhận về thông tin đặt vé máy bay</p>
        <p>Chính sách về quyền riêng tư</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" id="footer-needed-none">
      <div style="margin-top:30px">
        <p class="footer-info-title">TẢI ỨNG DỤNG NGAY</p>
        <img src="../assets/image/apple.svg" alt="" style="margin-bottom:15px">
        <img src="../assets/image/chplay.svg" alt="">
      </div>
    </div>
  </div>
  <div class="footer-award">
    <h3 class="footer-info-title" style="font-size: 15px;text-align: center;">GIẢI THƯỞNG CỦA CHÚNG TÔI</h3>
    <div class="footer-award-list">
      <img src="/image/award.webp" alt="" class="footer-award-list-img">
      <img src="/image/rank.png" alt="" class="footer-award-list-img">
      <img src="/image/NW_checking-savings-combo_vt-green_2022.webp" class="footer-award-list-img"
           alt="">
      <img src="/image/Money-Best-Banks-2021-22.png" alt="" class="footer-award-list-img">
    </div>
  </div>
</footer>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script>
  // PHÂN TRANG
  var items = $(".question");
  let numItems = items.length
  var perPage =6;
  items.slice(perPage).hide();
  console.log($('#pagination-container'));
  $('#pagination-container').pagination({
    items: numItems,
    itemsOnPage: perPage,
    prevText: "&laquo;",
    nextText: "&raquo;",
    onPageClick: function (pageNumber) {
      var showFrom = perPage * (pageNumber - 1);
      var showTo = showFrom + perPage;
      items.hide().slice(showFrom, showTo).show();
    }
  });
</script>
</html>