<div class="sidebar">
  <header>ADMIN</header>
  <ul>
    <li><a href="room_manage.html"><i class="fa-solid fa-door-open"></i>Room</a></li>
    <li class="menu-item-employee"><a href="#"><i class="fa-solid fa-user"></i>Employee</a></li>
    <li><a href="cust_manage.html"><i class="fa-solid fa-person-walking-luggage"></i>Customer</a></li>
    <li class="menu-item-service"><a href="service_manage.html"><i class="fa-solid fa-bell-concierge"></i>Service</a></li>
<!--    <li class="menu-item-booking"><a href="service_manage.html"><i class="fa-doutone fa-hotel"></i>Booking</a></li>-->
  </ul>
  <a class="logout_btn" href="">Log out</a>
</div>