<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> DỊCH VỤ </title>
  <link rel="stylesheet" href="/assets_admin/style.css">
  <link rel="stylesheet" href="/assets_admin/message.css">
  <link rel="stylesheet" href="/css/paginate.css">
  <link rel="stylesheet" href="/assets_admin/index.css">

  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--SWAL-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>
    .table td {
      text-align: center;
    }
    .table th {
      text-align: center;
    }
    .table-nv{
      justify-content: center !important;
    }
  </style>

</head>
<body>
<div th:replace="~{/admin/sidebar.html}"></div>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..." id="search_field">
      <i class='bx bx-search' ></i>
    </div>
    <div class="profile-details">
      <img th:src="${employee.avatar}" alt="">
      <span class="admin_name" th:text="${employee.tenemp}">Prem Shahi</span>
      <i class='bx bx-chevron-down' ></i>
    </div>
  </nav>

  <div class="home-content">
    <div class="sales-boxes">
      <div class="recent-sales box" style="width: 100%;">
        <div class="title">Danh sách dịch vụ
          <button class="btn btn-primary ml-3" data-toggle="modal" data-target="#addService">Thêm dịch vụ</button>
        </div>
        <div style="margin-top: 20px">
          <div class="row dvdvitem">
            <div class="col-sm-6 col-md-4 dvdvitem-content" th:each="dv:${dsserviceactive}" th:id="dv-row-+${dv.stt}">
              <div class="dv-item">
                <div class="dv-item-img">
                  <img th:src="${dv.imgService}">
                </div>
                <div class="dv-item-price-div">
                  <div>
                    <i id=deletenv"" class="uil-trash-alt" style="font-size: 25px;color: red" th:attr="onclick=|handleDelete('${dv.stt}')|" ></i>
                  </div>
                  <div style="display: flex;align-items: center">
                    <img src="/image/tag.png" style="width: 30px;height: 30px"/>
                    <div class="dv-item-price lht-price-detail ml-2" style="color: #021ee9;font-weight: bold;" th:text="${dv.price}+ ' VND'"></div>
                  </div>
                </div>
                <div class="dv-item-content">
                  <div class="dv-item-name" th:id="dv-row-name-+${dv.stt}" th:text="${dv.nameService}"></div>
                  <div class="dv-item-desc">
                    <div th:text="${dv.description}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="pagination-container"></div>
        </div>


      </div>
    </div>

  </div>
</section>

<!--MODAL THÊM DỊCH VỤ-->
<div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm dịch vụ mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" method="post" th:method="post" novalidate enctype="multipart/form-data" th:object="${newservice}" th:action="@{http://localhost:8080/admin/quanly/quanly-dichvu/add}">
          <div class="form-group">
            <label for="nameService" class="col-form-label">Tên dịch vụ</label>
            <input th:field="*{nameService}" placeholder="Nhập tên dịch vụ" required type="text" class="form-control is-invalid" id="nameService" name="nameService" >
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Giới thiệu dịch vụ</label>
            <textarea rows="10" th:field="*{description}" placeholder="Giới thiệu dịch vụ" required type="text" class="form-control is-invalid" id="description" name="description"  />
          </div>
          <div class="form-group">
            <label for="price" class="col-form-label">Giá</label>
            <input class="form-control is-invalid" th:field="*{price}" name="price" id="price" required>
          </div>
          <div class="form-group">
            <label for="amonut" class="col-form-label">Số lượng</label>
            <input class="form-control is-invalid" th:field="*{amount}" name="amount" id="amonut" required>
          </div>
          <div class="form-group">
            <div class="login-input-item">
              <input type="file" class="form-control-file" style="padding:0" id="file" name="file" th:field="*{file}">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary" id="themnv" disabled >Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
    sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
</script>
<!-- apexcharts js -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

  (function() {
    'use strict';
    window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('change', function(event) {

          if (form.checkValidity() === false)
          {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
          if(form.checkValidity()===true)
          {
            $("#themnv").prop('disabled', false)
          }
        }, false);
      });
    }, false)
  })();

  document.getElementById('item-dichvu').classList.add("active")

  //XÓA DỊCH VỤ
  function handleDelete(uid)
  {
    console.log(uid)
    let name = $('#dv-row-name-'+uid).text()
    let text = "Xóa "+name +"?"
    swal({
      title: "Xác nhận xóa!",
      text: text,
      icon: "warning",
      buttons: true,
      dangerMode: false,
    }).then((value) => {
      if (value) {
        $.ajax({
          type: "Post",
          url: "http://localhost:8080/api/api/service/delete",
          data: {
            stt: uid
          },
          success: function (response)
          {
            swal({
              position: 'top-end',
              icon: 'success',
              title: 'Xóa thành công',
              showConfirmButton: false,
              timer: 1000
            }).then(()=>{
              $('#dv-row-'+uid).remove()
              console.log(response)
            })
          },
          error:function ()
          {
            console.log("rỗi")
          }
        });
      }
    });
  }

  // PHÂN TRANG
  var items = $(".dvdvitem .dvdvitem-content");
  let numItems = items.length
  var perPage =9;
  items.slice(perPage).hide();
  console.log($('#pagination-container'));
  $('#pagination-container').pagination({
    items: numItems,
    itemsOnPage: perPage,
    prevText: "&laquo;",
    nextText: "&raquo;",
    onPageClick: function (pageNumber) {
      var showFrom = perPage * (pageNumber - 1);
      var showTo = showFrom + perPage;
      items.hide().slice(showFrom, showTo).show();
    }
  });

  //SEARCH
  function searchBar() {
    $('#search_field').on('keyup', function() {
      console.log("ok")
      let searchString = $(this).val();
      $(".dvdvitem-content").each(function(index, value) {
        currentName = $(value).text()
        if( currentName.toUpperCase().indexOf(searchString.toUpperCase()) > -1) {
          $(value).show();
        } else {
          $(value).hide();
        }
      });
    });
  };
  searchBar();


</script>
<script src="/js/jscenter.js"></script>
</body>
</html>
