<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> Trang chủ </title>
  <link rel="stylesheet" href="/assets_admin/style.css">
  <link rel="stylesheet" href="/assets_admin/message.css">

  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!----===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--SWAL-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>
    #bell{
      position: relative;
    }
    #num-bell{
      background-color: red;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      left: 10px;
      /* bottom: 0; */
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      /* font-weight: 700; */
      font-size: 14px;
    }
  </style>
</head>
<body>
<div th:replace="~{/admin/sidebar.html}"></div>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search...">
      <i class='bx bx-search' ></i>
    </div>
    <div class="profile-details">
      <img th:src="${employee.avatar}" alt="">
      <span class="admin_name" th:text="${employee.tenemp}">Prem Shahi</span>
      <i class='bx bx-chevron-down' ></i>
    </div>
  </nav>

  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Đặt phòng</div>
          <div class="number">40,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Doanh thu</div>
          <div class="number">38,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bxs-cart-add cart two' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Khách hàng mới</div>
          <div class="number">$12,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart cart three' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Hài lòng</div>
          <div class="number">11,086</div>
          <div class="indicator">
            <i class='bx bx-down-arrow-alt down'></i>
            <span class="text">Down From Today</span>
          </div>
        </div>
        <i class='bx bxs-cart-download cart four' ></i>
      </div>
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title">THỐNG KÊ DOANH THU</div>
        <div class="sales-details">
          <div id="chart" style="width:100%"></div>
        </div>
        <div class="button">
          <a href="#">See All</a>
        </div>
      </div>
      <div class="top-sales box">
        <div class="title">Dịch vụ bán chạy</div>
        <ul class="top-sales-details">
          <li th:each="service: ${service}">
            <a href="#">
              <img th:src="${service.imgService}" alt="">
              <span class="product" th:text="${service.nameService}">Vuitton Sunglasses</span>
            </a>
            <span class="price lht-price-detail" style="font-weight: 700" th:text="${service.price}+' VND'">$1107</span>
          </li>

        </ul>
      </div>
    </div>

    <div class="sales-boxes" style="margin-top: 20px">
      <div class="recent-sales box">
        <div class="title">THỐNG KÊ LƯỢNG ĐẶT PHÒNG Ở CÁC KHÁCH SẠN</div>
        <div class="sales-details">
          <div id="chart2" style="width:100%"></div>
        </div>
        <div class="button">
          <a href="#">See All</a>
        </div>
      </div>
      <div class="top-sales box ">
        <div class="title">Tin nhắn của khách hàng
          <div>
            <div class="uil-bell" id="bell">
              <div id="num-bell" th:text="${listmess.size()}">3</div>
            </div>
          </div>
        </div>
        <div class="top-sales-details messages-section">
          <div class="message" style="padding-top: 20px">
            <div class="message-box" th:each="ms:${listmess}" th:id="ms-+${ms.stt}">
              <img th:src="${@userRepository.findUsersByID(ms.iduser).avatar}" alt="profile image">
              <div class="message-content">
                <div class="message-header">
                  <div class="name" th:text="${@userRepository.findUsersByID(ms.iduser).ho+ ' '+@userRepository.findUsersByID(ms.iduser).ten}">Stephanie</div>
                  <div class="star-checkbox" style="display: flex;align-items: center">
                    <input type="checkbox" id="star-1" >
                    <i id=deletenv"" class="uil-trash-alt" style="font-size: 20px;color: red" th:attr="onclick=|handleDelete('${ms.stt}')|" ></i>
                    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-success ml-2" style="padding: 2px !important;" th:attr="onclick=|btnrep('${ms.stt}')|">Rep</button>
                    <label for="star-1" style="margin-left: 4px;margin-bottom: 0px !important;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                    </label>
                  </div>
                </div>
                <p class="message-line" th:id="contentquestion-+${ms.stt}" th:text="${ms.message}">
                  I got your first assignment. It was quite good. 🥳 We can continue with the next assignment.
                </p>
                <p class="message-line time" th:text="${ms.datesend}">
                  Dec, 12
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</section>


<!--MODAL REP MESSAGE-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Trả lời phản hồi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Câu hỏi:</label>
            <div type="text" class="form-control" id="recipient-name" style="height: fit-content"></div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Trả lời:</label>
            <textarea class="form-control" id="message-text" rows="10" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnhuymodal">Hủy</button>
        <button type="button" class="btn btn-primary" id="guiphanhoi">Gửi phản hồi</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script>

  function btnrep(uid)
  {
    $('#recipient-name').text($('#contentquestion-'+uid).text())
    $('#guiphanhoi').attr("uid",uid)
  }

  $('#guiphanhoi').click(function ()
  {
    let uid = $(this).attr('uid')
    console.log(uid)
    let data = {
      sttmessagesend:uid,
      repcontent:$('#message-text').val()
    }
    $.ajax({
      type: "POST",
      url: "http://localhost:8080/api/api/question/reply",
      data: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
        'Accept':'application/json'
      },
      success: function (data)
      {
        swal({
          position: 'top-end',
          icon: 'success',
          title: 'Đã gửi phản hồi',
          showConfirmButton: false,
          timer: 1000
        }).then(()=>{
          $('#ms-'+uid).remove()
          $('#btnhuymodal').click()
          $('#num-bell').text($('#num-bell').text()-1)
        })
      },
      error: function (e) {
        console.log("lỗi")
      }
    });
  })

  function handleDelete(uid)
  {
    console.log(uid)
    swal({
      title: "Xác nhận xóa!",
      text: "Câu hỏi này sẽ bị xóa",
      icon: "warning",
      buttons: true,
      dangerMode: false,
    }).then((value) => {
      if (value) {
        $.ajax({
          type: "Post",
          url: "http://localhost:8080/api/api/question/delete",
          data: {
            stt:Number(uid)
          },
          success: function (response)
          {
            swal({
              position: 'top-end',
              icon: 'success',
              title: 'Xóa thành công',
              showConfirmButton: false,
              timer: 1000
            }).then(()=>{
              $('#ms-'+uid).remove()
            })
          },
          error:function ()
          {
            console.log("lỗi")
          }
        });
      }
    });
  }


</script>
<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
    sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
</script>
<!-- apexcharts js -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

  var options = {
    series: [{
      name: 'ĐẶT PHÒNG',
      type: 'column',
      data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30]
    }, {
      name: 'DỊCH VỤ',
      type: 'area',
      data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43]
    }, {
      name: 'KHÁC',
      type: 'line',
      data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39]
    }],
    chart: {
      height: 350,
      type: 'line',
      stacked: false,
    },
    stroke: {
      width: [0, 2, 5],
      curve: 'smooth'
    },
    plotOptions: {
      bar: {
        columnWidth: '50%'
      }
    },

    fill: {
      opacity: [0.85, 0.25, 1],
      gradient: {
        inverseColors: false,
        shade: 'light',
        type: "vertical",
        opacityFrom: 0.85,
        opacityTo: 0.55,
        stops: [0, 100, 100, 100]
      }
    },
    labels: ['01/01/2022', '02/01/2022', '03/01/2022', '04/01/2022', '05/01/2022', '06/01/2022', '07/01/2022',
      '08/01/2022', '09/01/2022', '10/01/2022', '11/01/2022'
    ],
    markers: {
      size: 0
    },
    xaxis: {
      type: 'datetime'
    },
    yaxis: {
      title: {
        text: 'Triệu(VND)',
      },
      min: 0
    },
    tooltip: {
      shared: true,
      intersect: false,
      y: {
        formatter: function (y) {
          if (typeof y !== "undefined") {
            return y.toFixed(0) + " triệu";
          }
          return y;

        }
      }
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();

  var options2 = {
    series: [44, 55, 13, 43, 22],
    chart: {
      width: 380,
      type: 'pie',
    },
    labels: ['VinOasis Phú Quốc', 'Vinpearl Discovery', 'Maria Quy Nhơn', 'Terracotta Đà Lạt', 'Sheraton Phú Quốc'],
    responsive: [{
      breakpoint: 480,
      options: {
        chart: {
          width: 200
        },
        legend: {
          position: 'bottom'
        }
      }
    }]
  };

  var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
  chart2.render();

  var options3 = {
    series: [{
      data: [21, 22, 10, 28, 16, 21, 13, 30]
    }],
    chart: {
      height: 350,
      type: 'bar',
      events: {
        click: function(chart, w, e) {
          // console.log(chart, w, e)
        }
      }
    },
    colors: colors,
    plotOptions: {
      bar: {
        columnWidth: '45%',
        distributed: true,
      }
    },
    dataLabels: {
      enabled: false
    },
    legend: {
      show: false
    },
    xaxis: {
      categories: [
        ['John', 'Doe'],
        ['Joe', 'Smith'],
        ['Jake', 'Williams'],
        'Amber',
        ['Peter', 'Brown'],
        ['Mary', 'Evans'],
        ['David', 'Wilson'],
        ['Lily', 'Roberts'],
      ],
      labels: {
        style: {
          colors: colors,
          fontSize: '12px'
        }
      }
    }
  };

  var chart3 = new ApexCharts(document.querySelector("#chart3"), options3);
  chart3.render();


</script>
<script src="/js/jscenter.js"></script>

</body>
</html>
