<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Quản lý nhân viên </title>
    <link rel="stylesheet" href="/assets_admin/style.css">
    <link rel="stylesheet" href="/css/paginate.css">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--SWAL-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div th:replace="~{/admin/sidebar.html}"></div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search' ></i>
        </div>
        <div class="profile-details">
            <img th:src="${employee.avatar}" alt="">
            <span class="admin_name" th:text="${employee.tenemp}">Prem Shahi</span>
            <i class='bx bx-chevron-down' ></i>
        </div>
    </nav>

    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box" style="width: 100% !important;">
                <div class="title" style="border-bottom: none">DANH SÁCH NHÂN VIÊN</div>
                <button class="btn btn-primary mb-1" data-toggle="modal" data-target="#exampleModal">Thêm nhân viên</button>
                <div class="sales-details">
                    <table class="table table-striped" id="fid_table">
                        <thead>
                        <tr class="t_head">
                            <th scope="col">Mã NV</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Giới tính</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Email</th>
                            <th scope="col">Chức vụ</th>
                            <th scope="col">Ngày vào làm</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr class="tritem" th:each="nv:${dsnv}" th:id="row_+${nv.idemp}" id="listnv">
                            <td style="font-weight: bold" th:text="${nv.idemp}">@mdo</td>
                            <td th:class="row-tenemp-+${nv.idemp}" th:text="${nv.tenemp}" th:attr="mnv=${nv.idemp}" th:id="namenv_+${nv.idemp}"></td>
                            <td><img style="width: 100px;height: 100px;object-fit:cover;border-radius: 4px" th:src="${nv.avatar}"></td>
                            <td th:class="row-genderemp-+${nv.idemp}" th:text="${nv.genderemp}">Otto</td>
                            <td th:class="row-sdtemp-+${nv.idemp}" th:text="${nv.sdtemp}">@mdo</td>
                            <td th:class="row-emailemp-+${nv.idemp}" th:text="${nv.emailemp}">@mdo</td>
                            <td th:class="row-positionemp-+${nv.idemp}" th:text="${nv.positionemp}">@mdo</td>
                            <td th:class="row-createemp-+${nv.idemp}" th:text="${nv.createemp}" id="ngayvaolam">@mdo</td>
                            <td>
                                <i class="uil-comment-edit" style="font-size: 20px" data-toggle="modal" data-target="#editModal" th:attr="onclick=|handleEdit('${nv.idemp}')|"></i>
                                <i id=deletenv"" class="uil-trash-alt" style="font-size: 20px;color: red" th:attr="onclick=|handleDelete('${nv.idemp}')|" ></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination-container"></div>
            </div>

        </div>
    </div>
</section>

<!--MODAL THÊM NHÂN VIÊN-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" method="post" th:method="post" novalidate enctype="multipart/form-data" th:action="@{http://localhost:8080/admin/quanly/quanly-nhanvien/add}" th:object="${employee}">
                    <div class="form-group">
                        <label for="tennv" class="col-form-label">Họ tên nhân viên</label>
                        <input th:field="*{tenemp}" placeholder="Nhập họ và tên nhân viên" required type="text" class="form-control is-invalid" id="tennv" name="tenemp" pattern="[a-z\sA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]{1,255}" >
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderemp" id="inlineRadio1" value="Male" checked>
                        <label class="form-check-label" for="inlineRadio1">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderemp" id="inlineRadio2" value="Female">
                        <label class="form-check-label" for="inlineRadio2">Nữ</label>
                    </div>
                    <div class="form-group">
                        <label for="sdtnv" class="col-form-label">Số điện thoại</label>
                        <input th:field="*{sdtemp}" placeholder="Nhập ố điện thoại" required type="tel" id="sdtnv" name="sdtemp" class="form-control is-invalid" pattern="[0]{1}[0-9]{3}[0-9]{3}[0-9]{3}">

                    </div>
                    <div class="form-group">
                        <label for="emailnv" class="col-form-label">Email</label>
                        <input th:for="*{emailemp}" placeholder="Nhập địa chỉ email" type="email" id="emailnv" name="emailemp" class="form-control is-invalid" required>
                    </div>
                    <div class="form-group">
                        <label for="vitri">Chức vụ</label>
                        <select class="form-control" id="vitri" name="vitri" th:field="*{positionemp}">
                            <option value="Lễ tân">Lễ tân</option>
                            <option value="Quản lý">Quản lý</option>
                            <option value="Kế toán">Kế toán</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="login-input-item">
                            <input type="file" class="form-control-file" style="padding:0" id="file" name="file" th:field="*{file}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passnv" class="col-form-label">Mật khẩu</label>
                        <input th:field="*{passemp}" placeholder="Nhập mật khẩu" type="password" id="passnv" name="passnemp" class="form-control is-invalid" pattern=".{6,}" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" id="themnv" disabled >Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL SỬA NHÂN VIÊN-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Sửa thông tin nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation modal-body" novalidate>
                    <div class="form-group">
                        <label for="tennvedit" class="col-form-label">Họ tên nhân viên</label>
                        <input placeholder="Nhập họ và tên nhân viên" required type="text" class="form-control is-invalid" id="tennvedit" name="tennv" pattern="[a-z\sA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]{1,255}" >
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderempedit" id="genderedit1" value="Male" checked>
                        <label class="form-check-label">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="genderempedit" id="genderedit2" value="Female">
                        <label class="form-check-label">Nữ</label>
                    </div>
                    <div class="form-group">
                        <label for="sdtnvedit" class="col-form-label">Số điện thoại</label>
                        <input placeholder="Nhập số điện thoại" required type="tel" id="sdtnvedit" name="sdtnv" class="form-control is-invalid" pattern="[0]{1}[0-9]{3}[0-9]{3}[0-9]{3}">
                    </div>
                    <div class="form-group">
                        <label for="emailnvedit" class="col-form-label">Email</label>
                        <input placeholder="Nhập địa chỉ email" type="email" id="emailnvedit" name="emailnv" class="form-control is-invalid" required>
                    </div>
                    <div class="form-group">
                        <label for="vitriedit">Chức vụ</label>
                        <select class="form-control" id="vitriedit" name="vitri">
                            <option value="Lễ tân">Lễ tân</option>
                            <option value="Quản lý">Quản lý</option>
                            <option value="Kế toán">Kế toán</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="huyedit">Hủy</button>
                <button class="btn btn-primary" id="confirmedit" onclick="confirmEdit()">Sửa</button>
            </div>
        </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script>
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('change', function(event) {

                    if (form.checkValidity() === false)
                    {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                    if(form.checkValidity()===true)
                    {
                        $("#themnv").prop('disabled', false)
                    }
                }, false);
            });
        }, false)
    })();

    $(document).ready(function()
    {
        document.querySelectorAll('#ngayvaolam').forEach(e=>{
            e.innerText = e.innerText.substring(0,e.innerText.indexOf(' '))
        })
    })
    document.getElementById('item-nhanvien').classList.add("active")
    document.getElementById('item-home').classList.remove("active")
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
        sidebar.classList.toggle("active");
        if(sidebar.classList.contains("active")){
            sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
        }else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }



    function handleDelete(uid)
    {
        console.log(uid)
        let name = $('#namenv_'+uid).text()
        let text = "Xóa "+name +"?"
        swal({
            title: "Xác nhận xóa!",
            text: text,
            icon: "warning",
            buttons: true,
            dangerMode: false,
        }).then((value) => {
            if (value) {
                $.ajax({
                    type: "Delete",
                    url: "http://localhost:8080/admin/quanly/employee/delete/"+uid,
                    data: {idemp: uid },
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept':'application/json'
                    },
                    success: function (response)
                    {
                        swal({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Xóa thành công',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(()=>{
                            $('#row_'+uid).remove()
                        })
                    }
                });
            }
        });
    }

    function handleDelete(uid)
    {
        console.log(uid)
        let name = $('#namenv_'+uid).text()
        let text = "Xóa "+name +"?"
        swal({
            title: "Xác nhận xóa!",
            text: text,
            icon: "warning",
            buttons: true,
            dangerMode: false,
        }).then((value) => {
            if (value) {
                $.ajax({
                    type: "Delete",
                    url: "http://localhost:8080/admin/quanly/employee/delete/"+uid,
                    data: {idemp: uid },
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept':'application/json'
                    },
                    success: function (response)
                    {
                        swal({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Xóa thành công',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(()=>{
                            $('#row_'+uid).remove()
                        })
                    }
                });
            }
        });
    }

    function handleEdit(uid)
    {
        console.log(uid)
        $.ajax({
            type: "GET",
            dataType:'json',
            url: "http://localhost:8080/admin/quanly/employee/edit/"+uid,
            data: {idemp: uid },
            headers: {
                'Content-Type': 'application/json',
                'Accept':'application/json'
            },
            success: function (response)
            {
                $('#tennvedit').val(response.tenemp)
                $('#emailnvedit').val(response.emailemp)
                $('#sdtnvedit').val(response.sdtemp)
                $('#vitriedit').val(response.positionemp)
                if(response.genderemp=='Male')
                    $('#genderedit1').prop("checked",true)
                if(response.genderemp=='Female')
                    $('#genderedit2').prop("checked",true)
                $('#confirmedit').attr('valueidedit',uid);
            }
        });
    }

    var radioButtonGroupGender = document.getElementsByName("genderempedit");
    function confirmEdit()
    {
        let uid = $('#confirmedit').attr('valueidedit')

        let data = {
            idemp:uid,
            tenemp:$('#tennvedit').val(),
            emailemp:$('#emailnvedit').val(),
            sdtemp:$('#sdtnvedit').val(),
            positionemp:$('#vitriedit').val(),
            genderemp:Array.from(radioButtonGroupGender).find((radio) => radio.checked).value

        }

        $.ajax({
            type: "POST",
            url: "http://localhost:8080/admin/quanly/employee/edit/success",
            data:data,
            success: function (response)
            {
                console.log(response)
                swal({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Cập nhật thành công!',
                    showConfirmButton: false,
                    timer: 1000
                }).then(()=>{
                    $('.row-tenemp-'+uid).text(response.tenemp)
                    $('.row-sdtemp-'+uid).text(response.sdtemp)
                    $('.row-emailemp-'+uid).text(response.emailemp)
                    $('.row-positionemp-'+uid).text(response.positionemp)
                    $('.row-genderemp-'+uid).text(response.genderemp)
                    $('#huyedit').click()
                })
            },
            error: function (e) {
                console.log("Lỗi")
            }
        });
    }
    // PHÂN TRANG
    var items = $('.tritem');
    console.log(items);
    numItems = $('table.table tr:last').index()+1;
    var perPage = 5;

    items.slice(perPage).hide();
    console.log($('#pagination-container'));
    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });

</script>
<!-- apexcharts js -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>
</html>
