
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room Management</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="/cssql/styleql.css">
</head>
<body>
<div class="containerdiv">
  <div  th:replace="~{admin/menu-admin.html}"></div>
  <div class="content">
    <div  th:replace="~{admin/calendar}"></div>
    <div class="room_main_container">
      <div class="room_info">
        <p>Single Room | 000.000 VND</p>
        <a href="#"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
      </div>
      <div class="room_card_container">
        <div class="room_card">
          <div class="header_info">
            <p class="room_number">Room 101</p>
            <p class="room_status">occupied</p>
          </div>
          <div class="mid_content">
            <i class="fa-solid fa-circle-user"></i>
            <p class="room_title">Nguyen Truong Thinh</p>
          </div>
          <div class="footer_info">
            <p class="rent_date"><i class="fa-solid fa-calendar-days"></i>2 days</p>
            <div class="function_btn">
              <a href="#" class="edit_bnt"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="detail_btn"><i class="fa-solid fa-info"></i></a>
            </div>
          </div>
        </div>
        <div class="room_card free">
          <div class="header_info">
            <p class="room_number">Room 101</p>
            <p class="room_status">occupied</p>
          </div>
          <div class="mid_content">
            <i class="fa-solid fa-circle-check"></i>
            <p class="room_title">Free Room</p>
          </div>
          <div class="footer_info">
            <p class="rent_date"><i class="fa-solid fa-calendar-days"></i>0 day</p>
            <div class="function_btn">
              <a href="#" class="edit_bnt"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="detail_btn"><i class="fa-solid fa-info"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="room_main_container">
      <div class="room_info">
        <p>Double Room | 000.000 VND</p>
        <a href="#"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
      </div>
      <div class="room_card_container">
        <div class="room_card">
          <div class="header_info">
            <p class="room_number">Room 101</p>
            <p class="room_status">occupied</p>
          </div>
          <div class="mid_content">
            <i class="fa-solid fa-circle-user"></i>
            <p class="room_title">Nguyen Truong Thinh</p>
          </div>
          <div class="footer_info">
            <p class="rent_date"><i class="fa-solid fa-calendar-days"></i>2 days</p>
            <div class="function_btn">
              <a href="#" class="edit_bnt"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="detail_btn"><i class="fa-solid fa-info"></i></a>
            </div>
          </div>
        </div>
        <div class="room_card free">
          <div class="header_info">
            <p class="room_number">Room 101</p>
            <p class="room_status">occupied</p>
          </div>
          <div class="mid_content">
            <i class="fa-solid fa-circle-check"></i>
            <p class="room_title">Free Room</p>
          </div>
          <div class="footer_info">
            <p class="rent_date"><i class="fa-solid fa-calendar-days"></i>0 day</p>
            <div class="function_btn">
              <a href="#" class="edit_bnt"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="detail_btn"><i class="fa-solid fa-info"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="room_main_container">
      <div class="room_info">
        <p>Triple Room | 000.000 VND</p>
        <a href="#"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
      </div>
      <div class="room_card_container">
        <div class="room_card">
          <div class="header_info">
            <p class="room_number">Room 101</p>
            <p class="room_status">occupied</p>
          </div>
          <div class="mid_content">
            <i class="fa-solid fa-circle-user"></i>
            <p class="room_title">Nguyen Truong Thinh</p>
          </div>
          <div class="footer_info">
            <p class="rent_date"><i class="fa-solid fa-calendar-days"></i>2 days</p>
            <div class="function_btn">
              <a href="#" class="edit_bnt"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="detail_btn"><i class="fa-solid fa-info"></i></a>
            </div>
          </div>
        </div>
        <div class="room_card free">
          <div class="header_info">
            <p class="room_number">Room 101</p>
            <p class="room_status">occupied</p>
          </div>
          <div class="mid_content">
            <i class="fa-solid fa-circle-check"></i>
            <p class="room_title">Free Room</p>
          </div>
          <div class="footer_info">
            <p class="rent_date"><i class="fa-solid fa-calendar-days"></i>0 day</p>
            <div class="function_btn">
              <a href="#" class="edit_bnt"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="detail_btn"><i class="fa-solid fa-info"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>